/* Macchiato Blue */
@define-color accent rgba(170, 170, 170, 0.9);
@define-color txt rgba(161, 168, 194, 0.7);
@define-color bg rgba(30, 30, 30, 0.9);
@define-color bg2 transparent;

 * {
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 14px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    border: 0px;
    border-radius: 6px;
    background-color: @bg;
    animation: slideIn 0.2s ease-in-out both;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
    animation: fadeIn 0.2s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: transparent;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
    animation: fadeIn 0.2s ease-in-out both;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.2s ease-in-out both;
 }

 /* Selected Entry */
 #entry:selected {
   /*background-color: @accent;*/
   background-color: transparent;
 }

 #entry:selected #text {
    color: #fff;
 }
